@font-face {
  font-family: 'Roobert-Medium';
  src: url(../../public/assets/font/Roobert-Medium.ttf);
  font-display: swap;
}

@font-face {
font-family: 'Inter';
src: url(../../public/assets/font/Inter-Regular.ttf);
font-display: swap;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FAFAFA;
}
.bg-image {
  background-image: url("../../public/assets/gridlines.png");
  background-size: cover;
}
code {
  font-family: 'Roobert-Medium';
}
.container {
  min-height: 100vh;
}

  @media (min-width: 260px) and (max-width: 820px){
    .main{
  overflow-x: hidden;
    }
  }
  @media (min-width: 821px) and (max-width: 1310px){
    .main{
      padding-left:30px;
      padding-right:30px;
    }
  }
/* ---------------------------------------modals--------------------------------------------- */



.auth-verification-modal .modal-content {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 1rem;
}

.auth-verification-modal .modal-body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-verification-modal .signup-modal-left {
  display: none;
}

.auth-verification-modal .signup-modal-right {
 width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.auth-verification-modal .login-modal-right {
 width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auth-verification-modal .signup-logo {
  position: absolute;
  top: 25px;
  left: 25px;
}
/* ...........................................info Modal................................................ */

.auth-personalinfo-modal {
  height: 80.5vh;
}

.auth-personalinfo-modal .modal-content {
  height: 80.5vh;
  width: 100%;
  border-radius: 10px;

}

.auth-personalinfo-modal .modal-body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-personalinfo-modal .personalinfo-modal-left {
  display: none;
}

.auth-personalinfo-modal .personalinfo-modal-right {
 width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.auth-personalinfo-modal .login-modal-right {
 width: 800px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.auth-personalinfo-modal .personalinfo-logo {
  position: absolute;
  top: 25px;
  left: 25px;
}

@media (min-width: 360px) and (max-width: 450px){
  .auth-verification-modal {
      max-width: 80vw;
      left: 8%;
  }
  .auth-personalinfo-modal {
      max-width: 80vw;
      left: 8%;
  }
}

@media (min-width: 451px) and (max-width: 575px){
  .auth-verification-modal{
      display: none;
      max-width: 80vw;
      left: 8%;
  }
  .auth-personalinfo-modal{
      max-width: 80vw;
      left: 8%;
  }
}

@media (min-width: 576px) and (max-width: 660px){
  .auth-verification-modal{
      display: none;
  }
  .auth-personalinfo-modal{
      max-width: 80vw;
  }
}

@media screen and (max-width: 767px) {
  .auth-personalinfo-modal{
      display: none;
  }
  .auth-verification-modal{
      display: none;
  }
  .auth-verification-modal .modal-backdrop {
      display: none;
  }
  .auth-verification-modal .modal-content {
      display: none;
  }
  .auth-verification-modal .signup-modal-left{
      display: none;
  }
  .auth-personalinfo-modal .personalinfo-modal-left{
      display: none;
  }


}

@media screen and (min-width: 768px) and (max-width:990px ){
  .auth-verification-modal .signup-modal-left{
      display: none;
  }
  .auth-personalinfo-modal .personalinfo-modal-left{
      display: none;
  }

}

@media screen and (min-width: 991px) and (max-width: 1190px )
{
  .auth-verification-modal .signup-modal-left{
      display: none;
  }
  .auth-personalinfo-modal .personalinfo-modal-left{
      display: none;
  }
}



/* ----------------------------------------autocomplete------------------------------------------------ */
.pac-container {
  background-color: #fff;
  background-image: none !important;
  border:1px solid lightgray;
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 2px;
  z-index: 2000000;

 }
 .pac-icon:after {
  content: "";
  padding: 2px 2px 2px 0;
  height: 16px;
  text-align: right;
  display: block;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 120px 14px
}

 .pac-container:after {
  background-image: none !important;
  height: 0px;
}

 .pac-item,
 .pac-item-query {
  color: #000;
 }
 .pac-item:hover {
  background: #6666;
 }

 .box {
  background-image: linear-gradient(to right, #ebebeb calc(50% - 100px), #c5c5c5 50%, #ebebeb calc(50% + 100px));
  background-size:0;
  position:relative;
  border-image-slice: 20px;
  overflow:hidden;
  border-radius: 4px;
  /* -webkit-mask-image:-webkit-radial-gradient(white, black); */

}
.box::before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  width:calc(200% + 200px);
  bottom:0;
  background-image:inherit;
  animation:move 2s linear infinite;
}
@keyframes move{
  to {
    transform:translateX(calc(50% + 100px));
  }
}
/* ------------------------------------------------------calendar-------------------------------------------------- */
.react-calendar {
  max-width: 90%;
  background: white;
  border: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding-bottom:15px;
  padding-top:0;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  color:black;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 26px;
}

.react-calendar__tile--hasActive {
  background: #D81159;
  border-radius: 26px;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
  border-radius: 26px;
}
.react-calendar__tile--active {
  background: #D81159;
border: 1px solid #D81159;
border-radius: 26px;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #D81159;
border: 1px solid #D81159;
border-radius: 26px;
  color: white;
}


.Marquee {
  display: flex;
  overflow: hidden;
}
.Marquee-content {
  display: flex;
  animation: marquee 40s linear infinite running;
}
@-moz-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}
@-o-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}

.Marquee2 {
  display: flex;
  overflow: hidden;
}
.Marquee-content2 {
  display: flex;
  animation: marquee2 40s linear infinite running;
}

@-moz-keyframes marquee2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes marquee2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translate(0);
  }
}
@-o-keyframes marquee2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translate(0);
  }
}